body {
  background-color: rgb(236, 236, 236);
  font-family: 'Lexend', cursive;
}

.row {
  display:flex;
  flex-direction: row;
}

.column {
  display:flex;
  flex-direction: column;
}

.tweet .column {
  align-items: flex-end;
}

.tweet p {
  background-color: #222;
  color: #DDD;
}

@media (max-width: 768px) {
  .furryslopcontainer {
    flex-direction: column;
  }
}