body {
  background-color: rgb(236, 236, 236);
  font-family: 'Comic Sans MS', cursive;
}

.furryslopcontainer {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

@media (max-width: 768px) {
  .furryslopcontainer {
    flex-direction: column;
  }
}