.tweetViewer {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

    .random {
        
        font-size: 1.5em;
        width: 200px;
        border: none;
        background-color: #556;
        border-bottom: 2em solid #4A4A5A;
        flex: 1;
    }
        .random:hover {
            background-color: #667;
            border-bottom: 3em solid #4A4A5A
        }

@media only screen and (max-width: 768px) {
    .tweetViewer {
        flex-direction: column;
    }

    .random {
        height: 5em;
        width: 100%;
        border-bottom: .5em solid #4A4A5A;
    }

    .random:hover {
        border-bottom: .75em solid #4A4A5A;
    }
}
  